@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.5rem;
}

header {
  display: flex;
  justify-content: flex-start;  
  align-items: center;
  padding: 20px;
  background-color: #482E1D;
}

.title {
  display: flex;
  align-items: center; 
  margin-right: 10px; 
}

.title h1 {
  margin: 0; 
  color: #f0DAAE;
  font-size: 20px;
}

.logo {
  margin-left: 10px;
}

.logo img {
  width: 70px; 
  height: 70px; 
  object-fit: cover;
}

.nav {
  display: flex;
  margin-left: auto;  

}

.nav > div {
  margin: 0 10px; 
}

.nav a {
  text-decoration: none;
  color: #f0DAAE;
  font-size: 1.3rem; 
}

.nav a:hover {
  color: #A3966A; 
}

.header {
  background-image: url('/header.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  height: 45vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #f0DAAE;
}

.header-text {
  padding: 15px;
}

.select {
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A3966A;
}

.select-header {
  text-align: center;
  margin-bottom: 20px;
}

.select-header h2 {
  font-size: 30px;
  margin: 0;
  color: #f0DAAE;
}


.select-links {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
  text-align: center;
}

.select-links > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select img {
  width: auto;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 10px;
}

.select a {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #f0DAAE;
  font-weight: 550;
}

.select a:hover {
  color: #482E1D;
}

.container {
  padding: 20px;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  color: #482E1D;
  font-weight: 700;
  margin-bottom: 20px;
}

.picker {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.picker-title {
  font-size: 1.5rem;
  color: #482E1D;
  margin: 0;
}

.picker-select {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dropdown {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 150px;
  background-color: #fff;
  color: #333;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #A3966A;
  padding: 15px;
  margin: 10px 0;
  width: 80%;
  border-radius: 8px;
}

.card-heading {
  font-weight: bold;
  color: #f0DAAE;
  font-size: 2rem;
  margin-bottom: 10px;
}

.card-text {
  color: #482E1D;
  font-size: 1.5rem;
  margin-top: 5px;
}

.subheading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #482E1D;
  margin: 20px 0 10px;
}

.list {
  margin-left: 20px;
  padding-left: 20px;
  font-size: 1.5rem;
  list-style-type: disc;
  color: #482E1D;
}

.section {
  background-color: #fdf8ef;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

button {
  border-radius: 10px;
  border-style: hidden;
  background: #f0DAAE;
  padding: 20px;
  width: fit-content;
  font-size: 1.5rem;
  color: #482E1D;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 30px auto;
  display: block;
}

button:hover {
  background-color: #A3966A;
  cursor: pointer;
}

.timer {
  font-size: 2rem;
  color: #f0DAAE;
  background-color: #482E1D;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  font-weight: 700;
  width: 20vw;
  margin: 30px auto;
}

.timer-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A3966A;
  padding: 15px;
  margin: 10px 0;
  width: 80%;
  border-radius: 8px;
  margin: 30px auto;
}

.timer-step-text {
  flex: 1;
  font-size: 1.5rem;
  color: #482E1D;
  margin: 0;
}

.timer-step-next {
  background-color: #f0DAAE;
  color: #482E1D;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-left: 20px;
  white-space: nowrap;
}

.timer-step-next:hover {
  background-color: #A3966A;
}